github/src/main/mule/github.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="13e3bef2-ed3d-4530-9322-930e27c1c5d7" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="githubFlow" doc:id="8797acef-d8e0-4eaf-9a56-2748f517c840" >
		<http:listener doc:name="Listener" doc:id="b3886074-f4cf-496b-8c54-30e2fd5bccd0" config-ref="HTTP_Listener_config" path="/git"/>
		<set-payload value="MyFirst Repository Commite" doc:name="Set Payload" doc:id="9250112a-df37-4b2f-8ee7-059edbacd9a7" />
		<logger level="INFO" doc:name="Logger" doc:id="a7495552-c69a-4b92-a431-3b26aaa39747" message="#[payload]"/>
	</flow>
</mule>
