11-30-20github/src/main/mule/11-30-20github.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="27d49558-7847-473f-ba1f-9bac465e9d90" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="11-30-20githubFlow" doc:id="f0658590-321a-46de-809b-5b39ee111606" >
		<http:listener doc:name="Listener" doc:id="2ff02d8e-8b66-4195-a55e-13172f613811" config-ref="HTTP_Listener_config" path="/git"/>
		<set-payload value="This is a commit git" doc:name="Set Payload" doc:id="57b05f7d-2890-4010-ae50-8e414fa72f64" />
		<logger level="INFO" doc:name="Logger" doc:id="462c32dc-448c-41c7-beb1-8f788bdd6d88" message="#[payload]"/>
	</flow>
</mule>
